<div class="card">
  <!-- Card header -->
  <div class="card-header">
    <h3 class="mb-0">プロフィール</h3>
  </div>

  <!-- Card body -->
  <div class="card-body">
    <div>
      <h4 class="mb-0">Name: <%= @user.name %></h4>
      <h4 class="mb-0">Profile: <%= @user.profile %></h4>
      <h4 class="mb-0">Hobby: <%= @user.hobby %></h4>
    </div>
  </div>
</div>
